
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model NEPATechDotnetCoreMVC.ViewModel.MembersViewModel

@{ 
    var member = Model.Members.Profile.FirstOrDefault();
}

<div id="memberDetailsWrapper">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 id="detailsFullName">@member.FirstName @member.LastName</h2>
            </div>
        </div>
        <div class="row">
            <div class="detailsShiftRight col">
                <img id="detailsProfilePic" class="pull-left" src="~/images/pic06.jpg" width="256" height="256" />
                <h4>Biography</h4>
                <p>@member.Biography</p> @*Grab the first profile being passed to the view (back-end ensures only one result)*@
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3 id="skillsHeader">Skills</h3>
            </div>
        </div>
        <div id="skillsWrapper">
            <div class="row detailsShiftRight">
                <div class="col">
                       
                        @{

                            if (member.Skills != null && member.Skills.Count() > 0 )
                            {

                                var cols = 4.0;
                                var lastSkill = 0;
                                var rows = member.Skills.Count() > 4 ? Math.Ceiling(member.Skills.Count() / cols) : 4; //Setting up a 4 column table using bootstrap grids
                                for (var r = 1; r < rows; r++)
                                {
                                    <div class="row">
                                    @{ for (var c = lastSkill; c < cols + lastSkill; c++)
                                        {
                                            if (c < member.Skills.Count())
                                            {
                                            <div class="col-3">
                                                <span>@member.Skills.ElementAt(lastSkill).SkillName</span>
                                            </div>
                                                lastSkill++;
                                            }
                                        }
                                     }
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>


