.formwrapper{
    margin-top: 50px;
    text-align:left;
}

.formwrapper #description{
    color:#AFAFAF;
    margin:0;
    padding:0;
    font-size:18px;
}

.formwrapper h4 {
    font-size:26px;
    margin:0;
    padding:0;
}

.formwrapper form {
    padding: 0;
    padding-left: 10px;
    padding-top: 40px;
    color: #d1d1d1;
}


/*Positioning the contact us page, adding in a border to fill the page a bit*/



.contactHeaderWrapper .container {
    border-bottom: 5px #e1e1e1 solid;
    padding-bottom:40px;
}

/*Setting up the extra contact info on the right*/

#extraContactInfo .row{
    padding-top:10%;
    padding-bottom:12.5%;
    padding-left: 100px;
    padding-right:25px;
}

.col #eventsContainer {
    float: none;
    margin: 0 auto;
    text-align:center;
}

#eventsContainer{
    padding-top:50px;
}

#eventsContainer p{
    font-size:18px;
}

#eventsContainer a{
    font-size:20px;
    margin-top:20px;
}