#memberList{
    padding:20px;
    margin-top:5px;
}
.memberProfile .memberDescription{
    color:#808080;
}

#memberList .memberProfileBlock{
   padding-top:10px;
}

.memberProfile{
    border-bottom: 1px solid #eeeeee;
    padding-bottom:5px;
    padding-top:15px;
}

.col #searchWrapper {
    background-color: #f56a6a;
    margin-top:15px;
    
}

#searchWrapper form {
    color: #d1d1d1;
    padding: 5px;
    padding-top:10px;
    padding-bottom:10px;
}

form #customSearchFormGroup{
    padding:2px 25px;
    margin: 0 auto;
}

#memberDetailsWrapper{
    padding: 80px 80px 0 80px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.row .col .memberBorderBottom{
    border-bottom: 2px solid #eeeeee;
    margin-left:-15px !important;
    margin-right: -15px !important;
    margin: 5px 0 10px;
}

#detailsFullName {
    border-bottom: solid 5px #f56a6a;
    color: #808080;
    text-align:left;
    font-size:26px;
    font-weight:bold;
}
#skillsHeader {
    border-bottom: solid 5px #f56a6a;
    color: #808080;
    text-align: left;
    font-size: 26px;
    font-weight: bold;
    margin-top:15px;
    margin-bottom:15px;
}
#detailsProfilePic {
    margin-top: 15px;
    border: 2px solid #dddddd;
    margin: 30px;
}
.detailsShiftRight{
    margin-left:15px !important;
}

#skillsWrapper{
    margin-bottom:150px !important;
}