#memberList{
    padding:20px;
    margin-top:5px;
}
.memberProfile .memberDescription{
    color:#808080;
}

#memberList .memberProfileBlock{
   padding-top:10px;
}

.memberProfile{
    border-bottom: 1px solid #eeeeee;
    padding-bottom:5px;
    padding-top:15px;
}

.col #searchWrapper {
    background-color: #f56a6a;
    margin-top:15px;
    
}

#searchWrapper form {
    color: #d1d1d1;
    padding: 5px;
    padding-top:10px;
    padding-bottom:10px;
}

form #customSearchFormGroup{
    padding:2px 25px;
    margin: 0 auto;
}

#memberDetailsWrapper{
    padding-top:80px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.row .col .memberBorderBottom{
    border-bottom: 2px solid #eeeeee;
    margin-left:-15px !important;
    margin-right: -15px !important;
    margin: 5px 0 10px;
}