html{
    font-size:16px !important;
}
#header #formatTitleHeader{
    color:#808080;
    text-align:left;
    font-weight:bold;
    font-size:18px;
}

.text-icon-red {
    color: #f56a6a !important;}

.loginMenu{
    position:fixed;
    top:315px;
    margin-left:20px;
    width:300px;
    form{
        margin-left:20px;
        margin-right:20px;
    }
}

#registrationOverlay {
    display: none;
    margin: 0;
    padding: 0;
    position: fixed;
    float: none;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.6);
    width: 100%;
    height: 100%;
    z-index: 10000;
    padding-top: 10%;
    padding-bottom: 15%;

    .registrationHeader {
        margin-bottom: 35px;
        border-bottom: 5px solid #f56a6a;
    }

    col {
        padding: 0;
        margin: 0;
    }

    .smallExitButton {
        position: relative;
        float: right;
    }

    #registrationError {
        display: none;
        padding-left: 5px;
        font-size: 16px;
        font-style: italic;
    }

    form {
        padding: 0;
        margin: 0;

        input {
            margin-right: 2px;
            margin-bottom: 5px;
        }
    }

    .registrationInner {
        padding: 0;
        margin: 0;
        min-height: 300px;
        background-color: #f2f2f2;
        border: 2px solid #a2a2a2;
        border-radius: 5px 5px 5px 5px;
        padding: 35px;
        margin: 0 auto;
        float: none;
        position: relative;

        @media only screen and (min-width: 1200px ) {
            width: 800px;
            left: 172.5px;
        }

        vertical-align: middle;
    }
}