@{
    ViewData["Title"] = "NEPA Tech! Northeast Pennsylvania's premier technology meetup";
}

<div class="inner">

    @Html.Partial("_HeaderPartial", null)

    <!-- Banner -->
    <section id="banner">
        <div class="content">
            <header>
                <h1>
                    This is NEPA Tech
                </h1>
                <p>Northeast Pennsylvania's premier technology meetup</p>
            </header>
            <p>
                This group is for anyone interested in getting together to talk tech, learn tech, 
                TEACH tech or generally just find out what others in our region are doing in the areas of 
                web development, software, hardware, tooling, blockchain technology, 
                cryptocurrencies, the arts, manufacturing, etc. We look forward to getting to know 
                you and nerding out in general.
            </p>
        </div>
        <span class="image object">
            <img src="~/images/beacons.jpg" alt="" />
        </span>
    </section>

    <!-- Section -->
    <section>
        <header class="major">
            <h2>What we do</h2>
        </header>
        <div class="features">
            <article>
                <span class="icon fa-users"></span>
                <div class="content">
                    <h3>Talk</h3>
                    <p>Surround yourself with people who passionately enjoy technology and will talk your ear off about it.</p>
                </div>
            </article>
            <article>
                <span class="icon fa-graduation-cap"></span>
                <div class="content">
                    <h3>Learn</h3>
                    <p>Expand your knowledge by engaging in our events and workshops.</p>
                </div>
            </article>
            <article>
                <span class="icon fa-leanpub"></span>
                <div class="content">
                    <h3>Teach</h3>
                    <p>Your expertise is valuable and appreciated! Share with us what you've learned so we may grow in turn.</p>
                </div>
            </article>
            <article>
                <span class="icon fa-globe"></span>
                <div class="content">
                    <h3>Discover</h3>
                    <p>Technology today is both daunting and enthralling. Explore this titanic subject with us!</p>
                </div>
            </article>
        </div>
    </section>

    <!-- Section -->
    @*<section>
        <header class="major">
            <h2>Ipsum sed dolor</h2>
        </header>
        <div class="posts">
            <article>
                <a href="#" class="image"><img src="~/images/pic01.jpg" alt="" /></a>
                <h3>Interdum aenean</h3>
                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                <ul class="actions">
                    <li><a href="#" class="button">More</a></li>
                </ul>
            </article>
            <article>
                <a href="#" class="image"><img src="~/images/pic02.jpg" alt="" /></a>
                <h3>Nulla amet dolore</h3>
                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                <ul class="actions">
                    <li><a href="#" class="button">More</a></li>
                </ul>
            </article>
            <article>
                <a href="#" class="image"><img src="~/images/pic03.jpg" alt="" /></a>
                <h3>Tempus ullamcorper</h3>
                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                <ul class="actions">
                    <li><a href="#" class="button">More</a></li>
                </ul>
            </article>
            <article>
                <a href="#" class="image"><img src="~/images/pic04.jpg" alt="" /></a>
                <h3>Sed etiam facilis</h3>
                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                <ul class="actions">
                    <li><a href="#" class="button">More</a></li>
                </ul>
            </article>
            <article>
                <a href="#" class="image"><img src="~/images/pic05.jpg" alt="" /></a>
                <h3>Feugiat lorem aenean</h3>
                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                <ul class="actions">
                    <li><a href="#" class="button">More</a></li>
                </ul>
            </article>
            <article>
                <a href="#" class="image"><img src="~/images/pic06.jpg" alt="" /></a>
                <h3>Amet varius aliquam</h3>
                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                <ul class="actions">
                    <li><a href="#" class="button">More</a></li>
                </ul>
            </article>
        </div>
    </section>*@

</div>
