@{
    ViewData["Title"] = "NEPA Tech! Northeast Pennsylvania's premier technology meetup";
}

@model NEPATechDotnetCoreMVC.ViewModel.HomeViewModel;
<div class="inner">

    @Html.Partial("_HeaderPartial", null)

    <!-- Banner -->
    <section id="banner">
        <div class="content">
            <header>
                <h1>
                    This is NEPA Tech
                </h1>
                <p>Northeast Pennsylvania's premier technology meetup</p>
            </header>
            <p>
                This group is for anyone interested in getting together to talk tech, learn tech,
                TEACH tech or generally just find out what others in our region are doing in the areas of
                web development, software, hardware, tooling, blockchain technology,
                cryptocurrencies, the arts, manufacturing, etc. We look forward to getting to know
                you and nerding out in general.
            </p>
        </div>
        <span class="image object">
            <img src="~/images/beacons.jpg" alt="" />
        </span>
    </section>

    <!-- Section -->
    <section>
        <header class="major">
            <h2>What we do</h2>
        </header>
        <div class="features">
            <article>
                <span class="icon fa-users"></span>
                <div class="content">
                    <h3>Talk</h3>
                    <p>Surround yourself with people who passionately enjoy technology and will talk your ear off about it.</p>
                </div>
            </article>
            <article>
                <span class="icon fa-graduation-cap"></span>
                <div class="content">
                    <h3>Learn</h3>
                    <p>Expand your knowledge by engaging in our events and workshops.</p>
                </div>
            </article>
            <article>
                <span class="icon fa-leanpub"></span>
                <div class="content">
                    <h3>Teach</h3>
                    <p>Your expertise is valuable and appreciated! Share with us what you've learned so we may grow in turn.</p>
                </div>
            </article>
            <article>
                <span class="icon fa-globe"></span>
                <div class="content">
                    <h3>Discover</h3>
                    <p>Technology today is both daunting and enthralling. Explore this titanic subject with us!</p>
                </div>
            </article>
        </div>
    </section>

    <section>
        <header class="major">
            <h2>Infographics</h2>
        </header>
        <section id="services">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-white"></i>
                            <i class="fa fa-id-card fa-stack-1x fa-inverse text-icon-red"></i>

                        </span>
                        <h4 class="service-heading">Members:</h4>
                        @* This will be dynamic and change whenever a new person joins the site,
                            it would be best if it's calculated once and stored in a viewmodel or something of that sort so it's not constantly being calculated each time the page is reloaded *@
                        <p class="text-muted">@Model.MembersOnWebsite</p>
                    </div>
                    <div class="col text-center">
                        <h3>Curious who our members are?</h3>
                        <p class="text-muted">Clicking the button below will bring you to a list of our members, maybe you'll know a few of them!</p>
                        @Html.ActionLink("Check Them Out", "Index", "Members", null, new { @class = "button special fit" })
                    </div>
                </div>
            </div>
        </section>
    </section>

</div>
